@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	padding: 1rem;
}

.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10000;
	padding: clamp(0.75rem, 2vw, 1.5rem);
	transition: all 0.3s;
}

.scrolled {
	background-color: #fff;
	border-bottom: 1px solid black;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 90rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.logo img {
	height: 2rem;
	object-fit: contain;
}

.nav {
	display: flex;
	align-items: center;
}

.ulWrapper {
	display: flex;
	align-items: center;
}

.ul {
	display: flex;
	gap: clamp(1.25rem, 2.6vw, 2.25rem);
	list-style: none;
	margin: 0;
	padding: 0;
}

.li {
	position: relative;
}

.liLink {
	text-decoration: none;
	color: var(--headerColor);
	cursor: pointer;
}

.activeLink {
	color: var(--primary);
}

/* Hamburger */
.toggle {
	display: none;
}

@media (max-width: 1023px) {
	.toggle {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 3.5rem;
		height: 3.5rem;
		background-color: var(--primary);
		border: 1px solid;
		z-index: 10;
		position: relative;
	}

	.box {
		width: clamp(1.5rem, 2vw, 1.75rem);
		height: 1rem;
		position: relative;
	}

	.line1,
	.line2,
	.line3 {
		width: 100%;
		height: 2px;
		background-color: #fafbfc;
		border-radius: 2px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		transition: all 0.5s ease;
	}

	.line1 {
		top: 0;
	}
	.line2 {
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.line3 {
		bottom: 0;
	}

	.active .line1 {
		top: 50%;
		transform: translate(-50%, -50%) rotate(225deg);
	}
	.active .line2 {
		top: 50%;
		transform: translate(-50%, -50%) rotate(-225deg);
	}
	.active .line3 {
		opacity: 0;
	}

	.ulWrapper {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		flex-direction: column;
		background: #fff;
		transform: scaleY(0);
		transform-origin: top;
		transition: transform 0.3s ease;
	}

	.mobileOpen {
		transform: scaleY(1);
	}

	.dropdown .dropUl {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		height: 0;
		overflow: hidden;
		opacity: 0;
		transition: all 0.3s ease;
	}

	.dropdown .open {
		height: auto;
		opacity: 1;
	}

	.button1 {
		display: none;
	}
}

@media (min-width: 1024px) {
	.button1 {
		display: inline-block;
		font-weight: 700;
		font-size: 1rem;
		padding: 0 1.5rem;
		line-height: clamp(2.875rem, 8vw, 3.5rem);
		color: #fff;
		background-color: var(--primary);
		position: relative;
		text-decoration: none;
		z-index: 1;
	}
}
